* {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 44px 0 120px 76px;
    gap: 30px;
   
}

.link-header {
    font-weight: 600;
    text-decoration: none; 
    color: #989d9c; 
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.but-header {
    background: #665ae1;
    border-radius: 20px;
    width: 130px;
    height: 42px;
    font-size: 24px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
 
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 124px;
    display: inline-block;
    margin-bottom: 100px;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-left: 86px;
}
h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 120px;
    color: #515151;
}
h2 {
    font-weight: 515;
    font-size: 55px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #7d7d7d;
    margin-top: 29px;
    width: 515px;
}

.but-explore {
    margin-top: 40px;
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-size: 24px;
    border: none;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
    
}